:root{
    --primary-color: #f1e3e3;
    --background-color:red;
    --h1-font-size:180%;
    --h2-font-size:120%;
    --a-font-size:80%;
    --left-margin:20px;
  }
  body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    justify-content: flex-start;
    font-size: 16px;
    height: 100vh;
    background-color: #242222;
    color:var(--primary-color);
    font-family: Monaco,Courier New, Garamond;
  }
  
 header {
    width: 100%;
     background-color: #2c3033;
    display: flex;
    justify-content: center;
 }
 header h1 {
    font-size: var(--h1-font-size);
    color: #000;
    background-color: var(--primary-color);
    padding-right: 1%;
    padding-left: 2%;
    margin: .5% ;
    text-align: right;
    border: 1px solid var(--primary-color);
    border-radius: 100%;
  }
  header nav  {
    display: flex;
    justify-content: flex-end;
    width:60%;
    align-items: center;
  }
  
  header nav ul, .contact-me nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 450px;
    margin-right: 50px;
  }

  header nav ul a, .contact-me nav ul a {
    color: var(--primary-color);
    font-size: var(--a-font-size);
    text-decoration: none;
    text-shadow: 2px 2px 4px #380b12;
  }
  
 
  section{
    margin-bottom: 10px;
  }
   
 main{
    width: 100%;
    display: flex;
    flex-direction: column;
 }
 .intro{
    width: 100%;
    height: 8%;
    display: flex;
    position: relative;
 }
  .intro pre{
    position: absolute;
    top: calc(30%);
    left:calc(25%);
    width: 50%;
    text-align: left;
    margin-right: 20%;
    z-index: 1;
    font-size: var(--h2-font-size);
    text-shadow: 2px 2px 4px #000000;
    font-family: "Sofia", Cursive, sans-serif;
    font-style: italic;
  }
  .bkground-img{
    position: relative;
    width: 100%;
    opacity: .8;
  }
  .profile-img{
    position: absolute;
    z-index: 9;
    width: 15%;
    height:80%;
    object-fit: cover;
    transform: translate(20%, 10%);
  }

 .about-me{
    width: 100%;
   /* height: 15%;*/
    display: flex;
    font-size: .9rem;
 }
 .about-me h1, .work h1,.contact-me h1{
    width: 20%;
    font-size: var(--h1-font-size);
    padding: 15px;
    text-align: right;
    border-right: 4px solid gray;
  }
  .about-me .details, .work .details, .contact-me .details{
    width: 70%;
    padding: 15px;
    margin-left: var(--left-margin);
  }
  .about-me .details p{
    margin-bottom: 15px;
  }
 .work{
    width: 100%;
   /* height:50%;*/
    display: flex;
    background-color: red;
 }

  .work .details{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .work .details img{
    border: 4px solid var(--primary-color);
    object-fit: cover;
  }
  .mern1{
    border: 4px solid var(--primary-color);
    height:45%;

  }

  .projects1, .projects2{
    height:22%;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .projects1 img, .projects2 img{
    width: 47%;
  }

  .contact-me{
    margin-top: 10px;;
    display: flex;
    justify-content: space-around;
  }
  .contact-me h1{
    width: 17%;
  }
  .contact-me .details{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
 
  .contact-me nav ul{
    width:100%;
  }
  
  .contact-me nav ul a {
    align-items: center;
  }
  
  
  @media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
}
 